
<header class = header>
  <nav>
    <div class ='nav_container'>
      
     
      <img src="/images/cat.jpg" alt="a cat on a computer" >
      
      <h1>ScriptKitty</h1>
      
      <ul class ='nav_menu'>
        <li> <a href="/">Home</a></li>
        <li> <a href="Contact_Us">Contact</a></li>
      </ul>
      
    </div>       
  </nav>
</header>
